.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  background-color: #ee7777;
  color: white;
  font: inherit;
  border: gray;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.Cockpit button:hover {
  font-style: italic;
  font-weight: bold;
}

.Cockpit button.GreenHide {
  background-color: #447777;
}